@page

@{
    ViewData["Title"] = "Post 2";
    Layout = "_PostLayout";
}
<h1>đây là post 2</h1>
@*section này nó chỉ lấy từ cái layout mà trang nó trỏ về thôi, ở đây là trang _Post*@
@section NoidungFooter{
    <p>dsadadadasd</p>
}