

@using NLHBao
@model Product


<div class="card my-5" style="width: 20rem">
    <h2 class="card-header text-info">Ten san pham: @Model.Name </h2>
    <div class="card-body justify-content-center">
        <p class="text-center"> thong tin tom tat ve san pham: @Model.Description, Gia: @Model.Price</p>
        <a href="#" class="btn btn-success btn-block">Dat hang</a>
    </div>
</div>

