@page
@model cs50_Razor_01.Pages.Dichvu.IndexModel
@addTagHelper * , Microsoft.AspNetCore.Mvc.TagHelpers
@{
}
<h1>Trang index thường làm trang chu /Dichvu là nó nhảy thẳng vào trang index luôn</h1>
<a asp-page="Dichvu1">Dich vu 1</a>

<a asp-area="User" asp-page="/Login" >Login trong Areas</a>

<a asp-area="Product" asp-page="/Sanphammoi"></a>