<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["mydata"]</title>
</head>
<body>
    <div style="background-color:yellow;">Phan header layout 1</div>
    @RenderBody();
    <div style="background-color:brown;">Phan footer layout 1</div>
</body>
</html>
